{% extends 'base.html.twig' %}

{% block title %}New Battles{% endblock %}

{% block body %}
    <h1>Create new Battles</h1>

    {{ include('battles/_form.html.twig') }}

    <a href="{{ path('app_battles_index') }}">back to list</a>
{% endblock %}
