{% extends 'base.html.twig' %}

{% block title %}New Aces{% endblock %}

{% block body %}
    <h1>Create new Aces</h1>

    {{ include('aces/_form.html.twig') }}

    <a href="{{ path('app_aces_index') }}">back to list</a>
{% endblock %}
